@font-face {
  font-family: 'Recife';
  src: url('/Assets/Fonts/Recife/RecifeText-Regular.woff2') format('woff2'),
       url('/Assets/Fonts/Recife/RecifeText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Recife';
  src: url('/Assets/Fonts/Recife/RecifeText-Bold.woff2') format('woff2'),
       url('/Assets/Fonts/Recife/RecifeText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Recife';
  src: url('/Assets/Fonts/Recife/RecifeText-RegularItalic.woff2') format('woff2'),
       url('/Assets/Fonts/Recife/RecifeText-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Recife';
  src: url('/Assets/Fonts/Recife/RecifeText-BoldItalic.woff2') format('woff2'),
       url('/Assets/Fonts/Recife/RecifeText-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bugrino';
  src: url('/Assets/Fonts/Bugrino/Bugrino-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bugrino';
  src: url('/Assets/Fonts/Bugrino/Bugrino-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Recife', serif;
  background-color: #F5F1E8;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  font-family: inherit;
  outline: none;
}

:root {
  --color-beige: #F5F1E8;
  --color-green: #0F6635;
  --color-red: #C94A3A;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

